DISCORD_TOKEN=your_discord_bot_token_here
SPOTIFY_CLIENT_ID=your_spotify_client_id_here
SPOTIFY_CLIENT_SECRET=your_spotify_client_secret_here
COMMAND_PREFIX=your_prefix_here
TIMEOUT_MINUTES=your_timeout_minutes
YOUTUBE_REFRESH_TOKEN=your_youtube_refresh_token
LAVALINK_HOST=your_lavalink_hostname
LAVALINK_PORT=your_lavalink_port
LAVALINK_PASSWORD=your_lavalink_password
ADDRESS=your_address